/*===========
Buttons & Forms
===========*/
body .page {
    .form-group {
        margin-bottom: 16px;
    }
    .form-dark {
        .form-control {
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 0px;
            @include placeholder(rgba(242, 242, 242, 0.4));
            height: 45px;
            color: $clr-white;
        }
    }
    .btn-primary,
    .btn-primary[data-x-state=active],
    .btn-primary[data-x-state=focus] {
        background-color: #ECB000;
        border-color: #ECB000;
        color: $clr-white;
        border-radius: 0px;
        padding: 8px 15px;
        font-weight: 600;
        font-size: 16px;
        &:hover, &:focus {
            background-color: lighten($color: #ECB000, $amount: 5%);
            border-color: lighten($color: #ECB000, $amount: 5%);
            color: $clr-white;
        }
    }
}
.face {
    &-item {
        display: block;
    }
    &-btn {
        width: 100%;
    }
    
    @include breakpoint(lg) {
        .face-btn {
            width: 100%;
        }
    }
    @include breakpoint(md) {
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 30px;
        }
        .face-btn {
            width: 100%;
        }
    }
}
