.contact {
    &-content {
        font-size: 14px;
        font-weight: 500;
        color: $main-cl;
    }
    &-item {
        &-text {
            display: flex;
            align-items: center;
            color: white;
            margin-bottom: 20px;
            gap: 13px;

            img {
                width: 17px;
            }
            a {
                color: #fff;
                img {
                    margin-right: 13px;
                    width: 17px;
                }
            }
        }
    }
}