/*===========
Header
===========*/
.page-header-style-1 {
    .rd-navbar-default {
        background-color: $clr-2;
    }
    .rd-navbar-static.rd-navbar-default .rd-navbar-inner {
        height: unset;
        padding: 0 15px;
        max-width: 1200px;
    }
    .rd-navbar-fullwidth .rd-navbar-nav > li > a,  .rd-navbar-static .rd-navbar-nav > li > a, .rd-navbar-sidebar .rd-navbar-nav > li > a {
        font-size: 16px;
        font-family: $font-family;
        position: relative;
        overflow: hidden;
        @include breakpoint(lg) {
            color: #E0E0E0;
            line-height: 90px;
        }
        &:before {
            @include breakpoint(lg) {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: transparent;
                transition: all ease 0.3s;
            }
        }
    }
    .rd-navbar-fullwidth .rd-navbar-nav > li > a:active,
    .rd-navbar-fullwidth .rd-navbar-nav > li > a:focus,
    .rd-navbar-fullwidth .rd-navbar-nav > li > a:hover,
    .rd-navbar-fullwidth .rd-navbar-nav > li > a.active,
    .rd-navbar-static .rd-navbar-nav > li > a:active,
    .rd-navbar-static .rd-navbar-nav > li > a:focus, 
    .rd-navbar-static .rd-navbar-nav > li > a:hover,
    .rd-navbar-static .rd-navbar-nav > li > a.active,
    .rd-navbar-sidebar .rd-navbar-nav > li > a:active, 
    .rd-navbar-sidebar .rd-navbar-nav > li > a:focus,
    .rd-navbar-sidebar .rd-navbar-nav > li > a:hover,
    .rd-navbar-sidebar .rd-navbar-nav > li > a.active {
        @include breakpoint(lg) {
            color: #ECB000;
            &::before {
                background-color: #ECB000;
                width: 100%;
            }
        }
    }
    .rd-navbar-static .rd-navbar-nav > li > a:active,
    .rd-navbar-static .rd-navbar-nav > li > a.active,
    .rd-navbar-sidebar .rd-navbar-nav > li > a.active {
        font-weight: 600;
    }
    .rd-navbar-static .rd-navbar-nav > li + li {
        @include breakpoint(xl) {
            margin-left: 26px;
        }
    }
    .rd-navbar-static.rd-navbar-default.rd-navbar--is-stuck .rd-navbar-inner {
        .rd-navbar-nav > li > a {
            @include breakpoint(lg) {
                line-height: 77px;
            }
        }
    }
    .brand-name {
        img {
            max-height: 77px;
            width: unset;
        }
    }
    .rd-navbar-fixed {
        .rd-navbar-panel {
            background-color: white;
            height: 72px;
            &:before {
                display: none;
            }
        }
        @include breakpoint(xl) {
            .rd-navbar-panel {
                background-color: $clr-2;
            }
        }
        .rd-navbar-brand {
            top: 8px;
            left: 10px;
            img {
                height: 54px;
            }
        }
        .rd-navbar-toggle {
            display: block;
            margin-left: auto;
            width: 40px;
            height: 40px;
            background-color:#ECB000;
            border-radius: 4px;
            line-height: 40px;
            margin-top: 10px;
            margin-right: 15px;
            transition:  border-radius ease 0.3s;
            font-size: 0;
            span, span:before, span::after {
                height: 2px;
                background-color: $clr-white;
            }
            &.active {
                border-radius: 50%;
                background-image: url(/44/images/landing44/Vector\ \(3\).png);
                background-position: center center;
                background-repeat: no-repeat;
                span {
                    display: none;
                }
            }
        } 
        .rd-navbar-nav-wrap {
            top: 0;
            padding-top: 72px;
            width: 100%;
            padding-left: 18px;
            padding-right: 18px;
            background-color:#ECB000;
        } 
        .rd-navbar-nav {
            padding-top: 40px;
            &> li {
                &+li {
                    border-top: 1px solid $clr-white;
                    margin-top: 0;
                    padding-top: 40px;
                }
                &> a {
                    text-transform: inherit;
                    font-family: $font-family;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 0 0 20px 0;
                    color: $clr-white;
                }                 
            }
            li:hover, li.focus, li.active, li.opened {
                &>a {
                    background: transparent;
                }
            }
        }        
    }
}

/*-- end header --*/