/*===========
Maincontent
===========*/
/* section-banner */
.section-banner {
    img {
        width: 100%;
    }
}
.great .owl-nav {
    @include breakpoint(xl) {
      max-width: 1200px;
    }
}
.great .owl-prev {
    top: 200px;
    @include breakpoint(xl) {
        left: 180px;
        top: 250px;
    }
    
}
.great .owl-next {
  top: 200px;
  
  @include breakpoint(xl) {
    top: 250px;
    right: 180px;
  }
}

/* section-info-project */
.section-info-project {
    color: $clr-white;
    padding: 32px 0 75px;
    @include breakpoint(md) {
        padding: 57px 0 26px;
    }
    ul {
        display: flex;
        margin: 0 -15px 14px;
        flex-wrap: wrap;
        justify-content: center;
        @include breakpoint(md) {
            font-size: 18px;
            margin-bottom: 32px;
        }
        @include breakpoint(xl) {
            justify-content: space-between;
        }
        li {
            padding: 0 15px 18px;
            @include flexWidth(33.3333%);
            @include breakpoint(md) {
                @include flexWidth(auto);
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
.forms-give-price {
    margin-top: 30px;
    @include breakpoint(md) {
        margin-top: 40px;
    }
    .font-semibold {
        color: $clr-white;
    }
}
/* section-overview */
.section-overview {
    .desc {
        max-width: 470px;
    }
}
.img-project {
    iframe {
        width: 100%;
        border-radius: 24px;
        height: 280px;
        @include breakpoint(md) {
            height: 322px;
        }
    }
    
}
/* section-location */
.section-location {
    padding: 0 0 48px;
    @include breakpoint(md) {
        padding: 10px 0 52px;
    }
}
.map {
    margin-bottom: 36px;
    @include breakpoint(md) {
        margin-bottom: 56px;
    }
}

