/*===========
Maincontent
===========*/
/* section-banner */
.section-banner {
    img {
        width: 100%;
    }
}
.owl-carousel.owl-loaded {

    .owl-nav {
        display: none;
    }
    @include breakpoint(lg) {
        .owl-nav {
            display: block;
        }
    }
}

/* section-info-project */
.section-info-project {
    color: $clr-white;
    padding: 32px 0 75px;
    @include breakpoint(md) {
        padding: 57px 0 26px;
    }
    ul {
        display: flex;
        margin: 0 -15px 14px;
        flex-wrap: wrap;
        justify-content: center;
        @include breakpoint(md) {
            font-size: 18px;
            margin-bottom: 32px;
        }
        @include breakpoint(xl) {
            justify-content: space-between;
        }
        li {
            padding: 0 15px 18px;
            @include flexWidth(33.3333%);
            @include breakpoint(md) {
                @include flexWidth(auto);
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
.forms-give-price {
    margin-top: 30px;
    @include breakpoint(md) {
        margin-top: 40px;
    }
    .font-semibold {
        color: $clr-white;
    }
}
/* section-overview */
.section-overview {
    .desc {
        max-width: 470px;
    }
}
.img-project {
    iframe {
        width: 100%;
        border-radius: 24px;
        height: 280px;
        @include breakpoint(md) {
            height: 322px;
        }
    }
    
}
/* section-location */
.section-location {
    padding: 0 0 48px;
    @include breakpoint(md) {
        padding: 10px 0 52px;
    }
}
.map {
    margin-bottom: 36px;
    @include breakpoint(md) {
        margin-bottom: 56px;
    }
}
.timeline-list {
    text-align: left;
    position: relative;
    @include breakpoint(lg) {
        display: flex;
        text-align: center;
        margin: 0 -15px;
    }
    &::before {
        content: "";
        top: 10px;
        bottom: 0;
        left: 6px;
        width: 1px;
        background-color: $clr-1;
        position: absolute;
        @include breakpoint(lg) {
            top: 55px;
            bottom: unset;
            left: 0;
            width: 100%;
            height: 2px;
        }
    }
}
.timeline-project {
    padding-left: 34px;
    position: relative;
    @include breakpoint(lg) {
        width: 20%;
        padding: 0 15px;
    }
    &:not(:last-child) {
        margin-bottom: 18px;
        @include breakpoint(lg) {
            margin-bottom: 0;
        }
    }
    &::before {
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: $clr-1;
        @include breakpoint(lg) {
            top: 50px;
            left: 50%;
            @include translate(-50%,0);
        }
    }
}
.timeline-project-number {
    color: $clr-1;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    @include breakpoint(lg) {
        font-size: 22px;
        margin-bottom: 45px;
        line-height: 28px;
    }
    @include breakpoint(xl) {
        font-size: 24px;
    }
    span {
        font-size: 32px;
        @include breakpoint(lg) {
            font-size: 34px;
        }
        @include breakpoint(xl) {
            font-size: 36px;
        }
    }
}
.timeline-project-place {
    font-weight: 500;
    font-size: 15px;
    color: #616161;
    text-transform: uppercase;
    @include breakpoint(lg) {
        font-size: 16px;
    }
}
/* section-utilities */
.section-utilities {
    .row {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        &:nth-child(2n+2) {
            .col-lg-6 {
                &:first-child {
                    @include breakpoint(lg) {
                        order: 2;
                    }
                }
            }
        }
    }
}
.owl-carousel-custom-style-1 {
    .owl-stage-outer {
        padding: 0;
    }
    .owl-dots {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        @include breakpoint(md) {
            bottom: 40px
        }
        .owl-dot {
            @include square(8px);
            border: none;
            background-color: rgba(255, 255, 255, 0.6);
            margin: 0 4px;
            @include breakpoint(md) {
                @include square(10px);
                margin: 0 5px;
            }
            &:hover, &.active {
                background-color: $clr-white;
            }
        }
    }
    .owl-nav {
        @media (max-width: 767px) {
            display: none;
        }
        .owl-prev, .owl-next {
            @include square(38px);
            background-color: $clr-white;
            transform: rotate(-135deg);
            border: none;
            text-align: center;
            list-style: 38px;
            &::before {
                content: "";
                @include square(38px);
                transform: rotate(135deg);
                display: block;
                background-position: center center;
                background-repeat: no-repeat;
                // position: absolute;
                // left: 50%;
            }
            &:hover {
                background-color: #FF6600;
            }
        }
        .owl-prev {
            left: 32px;
            &::before {
                background-image: url(../images/landing82/btn-prev.svg)
            }
            &:hover {
                &::before {
                    background-image: url(../images/landing82/btn-prev-o.svg)
                }
            }
        }
        .owl-next {
            right: 32px;
            &::before {
                background-image: url(../images/landing82/btn-next.svg)
            }
            &:hover {
                &::before {
                    background-image: url(../images/landing82/btn-next-o.svg)
                }
            }
        }
    }
}
.btn-overtop {
    margin-top: 24px;
    position: relative;
    z-index: 2;
    @include breakpoint(md) {
        margin-top: -25px;
    }
}

/* section-prog */
.section-prog {
    padding: 0 0 48px;
    @include breakpoint(md) {
        padding: 0 0 60px;
    }
}
.type-prog {
    border-radius: 16px;
    margin-bottom: 16px;
    background-color: #01304E;
    @include breakpoint(md) {
        margin-bottom: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.type-prog-img {
    border-radius: 16px 16px 0 0;
    img {
        display: block;
    }
}
.type-prog-text {
    border-radius: 0px 0px 16px 16px;
    color: $clr-white;
    padding: 13px 16px 16px;
    h3 {
        color: $clr-white;
        margin-bottom: 8px;
    }
    .btn {
        margin-top: 0;
    }
}
.type-prog-expert {
    margin-bottom: 24px;
    font-size: 14px;
    p {
        margin-bottom: 0;
    }
}
/* section-policy */
.section-policy {
    padding-top: 0;
    .desc {
        margin-bottom: 16px;
        @include breakpoint(md) {
            margin-bottom: 32px;
        }
    }
    .btn {
        font-size: 14px;
        margin-top: 0;
        @include breakpoint(xl) {
            font-size: 16px;
        }
    }
}
