.policy {
    border: 2px solid #FF002E;
    width: 100%;
    height: 100%;
    border-style: dashed;
    padding: 22px 24px;
    background-color: #FDDCBF;
    max-width: 770px;
    margin: 0 auto;
}