/*===========
Fonts
===========*/
@font-face {
    font-family: 'SVN-Unthrift';
    src: url('../fonts/SVN-Unthrift.eot');
    src: url('../fonts/SVN-Unthrift.eot') format('embedded-opentype'),
         url('../fonts/SVN-Unthrift.woff2') format('woff2'),
         url('../fonts/SVN-Unthrift.woff') format('woff'),
         url('../fonts/SVN-Unthrift.ttf') format('truetype'),
         url('../fonts/SVN-Unthrift.svg#SVN-Unthrift') format('svg');
}
