.invest {
   display: grid;
   grid-template-columns: auto;
    gap: 30px;
    &-item {
        img {
            width: 100%;
            object-fit: cover;
        }
        h2 {
            font-size: 18px;
            font-weight: 500;
            padding-top: 18px;
        }
        p {
            color: #000;
            font-weight: 400;
        }
    }
    @include breakpoint(md) {
        grid-template-columns:auto auto ;
    }
    @include breakpoint(xl) {
        grid-template-columns:auto auto auto auto;
        &-item {
            img {
                width: 270px;
                object-fit: cover;
            }
        }
    }
}