.project {
    .btn-flex {
      display: block;
      
        a {
          width: 100%;
          margin-bottom: 16px;
        }
     }
     @include breakpoint(lg) {
        .btn-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
          a {
            width: 270px;
            margin-bottom: 16px !important;
          }
        }
      }
  }