.owl-carousel-custom-style-1 {
    .owl-stage-outer {
        padding: 0;
    }
    .owl-dots {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        @include breakpoint(md) {
            bottom: 40px
        }
        .owl-dot {
            @include square(8px);
            border: none;
            background-color: rgba(255, 255, 255, 0.6);
            margin: 0 4px;
            @include breakpoint(md) {
                @include square(10px);
                margin: 0 5px;
            }
            &:hover, &.active {
                background-color: $clr-white;
            }
        }
    }
    .owl-nav {
        .owl-prev, .owl-next {
            @include square(40px);
            background-color: #B47C19;
            transform: rotate(-135deg) !important;
            border: none;
            text-align: center;
            list-style: 48px;
            transform: translateY(-50%);
            @include breakpoint(md) {
                @include square(48px);
            }
            &::before {
                content: "";
                @include square(40px);
                transform: rotate(135deg) !important;
                display: block;
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                left: 4%;
                @include breakpoint(md) {
                    @include square(48px);
                }
            }
            &:hover {
                background-color: $clr-white;
            }
        }
        .owl-prev {
            left: 8%;
            top: 22%;
            @include breakpoint(md) {
                left: 5%;
                top: 25%;
            }
            @include breakpoint(lg) {
                left: 12%;
                top: 30%;
            }
            &::before {                
                background-image: url(../images/meeypage/btn-prev-o.svg);
            }
            &:hover {
                &::before {
                    background-image: url(../images/meeypage/btn-prev.svg);
                }
            }
        }
        .owl-next {
            right: 8%;
            top: 22%;
            @include breakpoint(md) {
                right: 5%;
                top: 25%;
            }
            @include breakpoint(xl) {
                right: 12%;
                top: 30%;
            }
            &::before {                
                background-image: url(../images/meeypage/btn-next-o.svg);
            }
            &:hover {
                &::before {
                    background-image: url(../images/meeypage/btn-next.svg);
                }
            }
        }
    }
}
.owl-carousel-custom-style-2 {
    .owl-stage-outer {
        padding: 0;
    }
    .owl-dots {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        @include breakpoint(md) {
            bottom: 40px
        }
        .owl-dot {
            @include square(8px);
            border: none;
            background-color: rgba(255, 255, 255, 0.6);
            margin: 0 4px;
            @include breakpoint(md) {
                @include square(10px);
                margin: 0 5px;
            }
            &:hover, &.active {
                background-color: $clr-white;
            }
        }
    }
    .owl-nav {
        .owl-prev, .owl-next {
            @include square(40px);
            background-color: #ECB000;
            transform: rotate(-135deg) !important;
            border: none;
            text-align: center;
            list-style: 48px;
            transform: translateY(-50%);
            @include breakpoint(md) {
                @include square(48px);
            }
            &::before {
                content: "";
                @include square(40px);
                transform: rotate(135deg) !important;
                display: block;
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                left: 4%;
                @include breakpoint(md) {
                    @include square(48px);
                }
            }
            &:hover {
                background-color: $clr-white;
            }
        }
        .owl-prev {
            left: 30px;
            top: 150px;
            @include breakpoint(md) {
                left: 30px;
                top: 150px;
            }
            @include breakpoint(lg) {
                left: 50px;
                top: 220px;
            }
            &::before {                
                background-image: url(../images/meeypage/btn-prev-o.svg);
            }
            &:hover {
                &::before {
                    background-image: url(../images/landing44/btn-prev.svg);
                }
            }
        }
        .owl-next {
            right: 30px;
            top: 150px;
            @include breakpoint(md) {
                right: 30px;
                top: 150px;
            }
            @include breakpoint(lg) {
                right: 50px;
                top: 220px;
            }
            &::before {                
                background-image: url(../images/meeypage/btn-next-o.svg);
            }
            &:hover {
                &::before {
                    background-image: url(../images/landing44/btn-next.svg);
                }
            }
        }
    }
}
.owl-carousel .owl-item img {
    height: 100vh;
    object-fit: cover;
}
.owl-carousel .owl-item .owl-img-w {
    height: 325px;
    object-fit: cover;

    @include breakpoint(lg) {
        height: 500px;
    }
}
