/*===========
Fonts
===========*/
@font-face {
    font-family: 'MTDHillstownClean';
    src: url('../fonts/MTDHillstownClean.eot');
    src: url('../fonts/MTDHillstownClean.eot') format('embedded-opentype'),
         url('../fonts/MTDHillstownClean.woff2') format('woff2'),
         url('../fonts/MTDHillstownClean.woff') format('woff'),
         url('../fonts/MTDHillstownClean.ttf') format('truetype'),
         url('../fonts/MTDHillstownClean.svg#MTDHillstownClean') format('svg');
}
