.item {
  position: relative;
}

.item img {
  z-index: -1;
}

.item-list {
  position: absolute;
  bottom: 150px;
  text-align: start;
}
.item-list p {
  color: white;
}

.item-list h1 {
  color: #ECB000;
  font-size: 34px;
  font-weight: 700;
}

.item-list h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.owl-carousel.owl-loaded {
  padding: 0;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

.main-color {
  color: #ECB000;
}

.star-icon {
  color: #ECB000;
  line-height: 25px;
  padding-right: 10px;
}

.btn-call {
  background-color: #FF002E !important;
  border: none;
  margin: 0 !important;
}

.img-project {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}

.clock-icon {
  color: #06AD3F;
  line-height: 25px;
  padding-right: 10px;
}

.owl-img-w {
  width: 100% !important;
  height: 500px !important;
  margin-bottom: 30px;
}

.copy-content {
  width: 100%;
  background-color: #183D3F;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 16px 0;
}

.brick {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-bottom: 16px;
}

.flex-c {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.flex-i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-m {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.main-text h2 {
  color: #fff;
}
.main-text-1 {
  color: #00202D;
  font-weight: 500;
}
.main-text-2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 24px;
}
.main-text-3 {
  color: #00202D;
  font-weight: 400;
  margin-bottom: 14px;
}

/*===========
Fonts
===========*/
@font-face {
  font-family: "MTDHillstownClean";
  src: url("../fonts/MTDHillstownClean.eot");
  src: url("../fonts/MTDHillstownClean.eot") format("embedded-opentype"), url("../fonts/MTDHillstownClean.woff2") format("woff2"), url("../fonts/MTDHillstownClean.woff") format("woff"), url("../fonts/MTDHillstownClean.ttf") format("truetype"), url("../fonts/MTDHillstownClean.svg#MTDHillstownClean") format("svg");
}
/*===========
Common
===========*/
body {
  font-size: 16px;
  color: #00202D;
  font-family: "Montserrat", sans-serif;
}

html.rd-navbar-fixed-linked .page {
  padding-top: 72px;
}

.section-pad-40 {
  padding: 40px 0;
}

img {
  max-width: 100%;
}

.section-pad-72 {
  padding: 48px 0;
}
@media only screen and (min-width: 768px) {
  .section-pad-72 {
    padding: 72px 0;
  }
}

.m-w-380 {
  min-width: 100%;
}
@media only screen and (min-width: 768px) {
  .m-w-380 {
    min-width: 380px;
  }
}

.rounded-24 {
  border-radius: 24px;
}

.mb-30 {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .mb-30 {
    margin-bottom: 30px;
  }
}

.m-w-370 {
  min-width: 100%;
}
@media only screen and (min-width: 768px) {
  .m-w-370 {
    min-width: 370px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*-- end common --*/
/*===========
Buttons & Forms
===========*/
body .page .form-group {
  margin-bottom: 16px;
}
body .page .form-dark .form-control {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #1A9ABD;
  border-radius: 3px;
  height: 45px;
  color: #fff;
}
body .page .form-dark .form-control::-webkit-input-placeholder {
  color: #FFFFFF;
}
body .page .form-dark .form-control:-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
body .page .form-dark .form-control::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
body .page .form-dark .form-control:-ms-input-placeholder {
  color: #FFFFFF;
}
body .page .btn-primary,
body .page .btn-primary[data-x-state=active],
body .page .btn-primary[data-x-state=focus] {
  background-color: #DD9933;
  border-color: #DD9933;
  color: #fff;
  border-radius: 0px;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 16px;
}
body .page .btn-primary:hover, body .page .btn-primary:focus,
body .page .btn-primary[data-x-state=active]:hover,
body .page .btn-primary[data-x-state=active]:focus,
body .page .btn-primary[data-x-state=focus]:hover,
body .page .btn-primary[data-x-state=focus]:focus {
  background-color: #ffc007;
  border-color: #ffc007;
  color: #fff;
}

.face-item {
  margin-bottom: 18px;
  display: block;
}
.face-item .face-btn {
  width: 100%;
  background: #E5E5E5 !important;
  margin-bottom: 10px;
  border-radius: 3px !important;
}
.face-item .face-btn.active {
  background: #1A576C !important;
}
.face-list {
  display: none;
}
.face-list.active {
  display: block;
}
@media only screen and (min-width: 992px) {
  .face-item {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .face-item .face-btn {
    width: 240px;
    background: #E5E5E5 !important;
    margin-bottom: 10px;
    border-radius: 3px !important;
  }
  .face-item .face-btn.active {
    background: #1A576C !important;
  }
  .face-list {
    display: none;
  }
  .face-list.active {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .face-item {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .face-item .face-btn {
    width: 240px;
    background: #E5E5E5 !important;
    margin-bottom: 10px;
    border-radius: 3px !important;
  }
  .face-item .face-btn.active {
    background: #1A576C !important;
  }
  .face-list {
    display: none;
  }
  .face-list.active {
    display: block;
  }
}

.red-color {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #fff;
  border-radius: 3px;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 16px;
}

.form-control {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #1A9ABD;
  border-radius: 3px;
  height: 45px;
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #FFFFFF;
}
.form-control:-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #FFFFFF;
}
.form-control:focus {
  background: rgba(255, 255, 255, 0.4);
}

/*===========
Typo
===========*/
.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.fz-22 {
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .fz-22 {
    font-size: 22px;
  }
}

.fz-64 {
  font-size: 36px;
}
@media only screen and (min-width: 768px) {
  .fz-64 {
    font-size: 64px;
  }
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.title-calligraphy {
  font-family: "MTDHillstownClean", sans-serif;
}

.title-gradient-blue {
  background: linear-gradient(270deg, #1D3B77 51.22%, #0289CB 78.78%, #0598D3 106.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-transform-inherit {
  text-transform: inherit;
}

.clr-white {
  color: #fff;
}

.type-list {
  grid-template-columns: 1fr;
}
.type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.type-item img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.type-item h2 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 16px;
}
.type-item-mg {
  margin-top: auto;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .type-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
  }
}

/*===========
Header
===========*/
.page-header-style-1 .rd-navbar-default {
  background-color: #fff;
}
.page-header-style-1 .rd-navbar-static.rd-navbar-default .rd-navbar-inner {
  height: unset;
  padding: 0 15px;
  max-width: 1200px;
}
.page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a, .page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a, .page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a {
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a, .page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a, .page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a {
    color: #292930;
    line-height: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a:before, .page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:before, .page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: all ease 0.3s;
  }
}
@media only screen and (min-width: 992px) {
  .page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a:active,
.page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a:focus,
.page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a:hover,
.page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a.active,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:active,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:focus,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:hover,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a.active,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a:active,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a:focus,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a:hover,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a.active {
    color: #1A9ABC;
  }
  .page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a:active::before,
.page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a:focus::before,
.page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a:hover::before,
.page-header-style-1 .rd-navbar-fullwidth .rd-navbar-nav > li > a.active::before,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:active::before,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:focus::before,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:hover::before,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a.active::before,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a:active::before,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a:focus::before,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a:hover::before,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a.active::before {
    background-color: #1A9ABC;
    width: 100%;
  }
}
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a:active,
.page-header-style-1 .rd-navbar-static .rd-navbar-nav > li > a.active,
.page-header-style-1 .rd-navbar-sidebar .rd-navbar-nav > li > a.active {
  font-weight: 600;
}
@media only screen and (min-width: 1200px) {
  .page-header-style-1 .rd-navbar-static .rd-navbar-nav > li + li {
    margin-left: 26px;
  }
}
@media only screen and (min-width: 992px) {
  .page-header-style-1 .rd-navbar-static.rd-navbar-default.rd-navbar--is-stuck .rd-navbar-inner .rd-navbar-nav > li > a {
    line-height: 77px;
  }
}
.page-header-style-1 .brand-name img {
  max-height: 77px;
  width: unset;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-panel {
  background-color: white;
  height: 72px;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-panel:before {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .page-header-style-1 .rd-navbar-fixed .rd-navbar-panel {
    background-color: #1A576C;
  }
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-brand {
  top: 8px;
  left: 10px;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-brand img {
  height: 54px;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-toggle {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: #ECB000;
  border-radius: 50%;
  line-height: 40px;
  margin-top: 10px;
  margin-right: 15px;
  transition: border-radius ease 0.3s;
  font-size: 0;
  border-radius: 50%;
  background-image: url(/images/landing46/Group\ 806.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-toggle.active {
  border-radius: 50%;
  background-image: url(/images/landing46/close.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-nav-wrap {
  top: 0;
  padding-top: 72px;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #ECB000;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-nav {
  padding-top: 40px;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-nav > li + li {
  border-top: 1px solid #fff;
  margin-top: 0;
  padding-top: 40px;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-nav > li > a {
  text-transform: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 20px 0;
  color: #fff;
}
.page-header-style-1 .rd-navbar-fixed .rd-navbar-nav li:hover > a, .page-header-style-1 .rd-navbar-fixed .rd-navbar-nav li.focus > a, .page-header-style-1 .rd-navbar-fixed .rd-navbar-nav li.active > a, .page-header-style-1 .rd-navbar-fixed .rd-navbar-nav li.opened > a {
  background: transparent;
}

/*-- end header --*/
/*===========
Maincontent
===========*/
/* section-banner */
.section-banner img {
  width: 100%;
}

iframe {
  height: 200px;
}
@media only screen and (min-width: 768px) {
  iframe {
    height: 500px;
  }
}

/* section-info-project */
.section-info-project {
  color: #fff;
  padding: 32px 0 15px;
}
@media only screen and (min-width: 768px) {
  .section-info-project {
    padding: 57px 0 26px;
  }
}
.section-info-project ul {
  display: flex;
  margin: 0 -15px 14px;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .section-info-project ul {
    font-size: 18px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-info-project ul {
    justify-content: space-between;
  }
}
.section-info-project ul li {
  padding: 0 15px 18px;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
@media only screen and (min-width: 768px) {
  .section-info-project ul li {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: auto;
  }
}
.section-info-project ul li p {
  margin-bottom: 0;
}

.forms-give-price {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .forms-give-price {
    margin-top: 40px;
  }
}
.forms-give-price .font-semibold {
  color: #fff;
}

/* section-overview */
.section-overview .desc {
  max-width: 470px;
}

.img-project iframe {
  width: 100%;
  border-radius: 24px;
  height: 280px;
}
@media only screen and (min-width: 768px) {
  .img-project iframe {
    height: 322px;
  }
}
@media only screen and (min-width: 768px) {
  .img-project {
    height: 500px;
  }
}

/* section-location */
.section-location {
  padding: 0 0 48px;
}
@media only screen and (min-width: 768px) {
  .section-location {
    padding: 10px 0 52px;
  }
}

.map {
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .map {
    margin-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .table {
    width: 100%;
    border-collapse: collapse;
    display: block;
  }
  .table thead {
    display: none;
  }
  .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
  }
  .table tr:nth-child(even) {
    background: rgba(247, 249, 255, 0.5);
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    border: 1px solid #ddd;
  }
  .table td::before {
    content: attr(data-lable);
    position: absolute;
    left: 0;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 700;
  background: rgba(247, 249, 255, 0.5);
}
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 400;
}
.table tbody tr:nth-child(even) {
  background: rgba(247, 249, 255, 0.5);
}

.owl-carousel .owl-item img {
  height: 330px;
}
@media only screen and (min-width: 992px) {
  .owl-carousel .owl-item img {
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .owl-carousel .owl-item img {
    height: 100vh;
  }
}

.bg-img-location .container h1 {
  font-size: 22px;
  font-weight: 600;
  color: #DD9933;
  padding-top: 37px;
}
.bg-img-location .container p {
  font-weight: 400;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .bg-img-location .container p {
    text-align: center;
  }
}
.bg-img-location .container p span {
  font-weight: 600;
}

.flex-n {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 0px;
  flex-direction: column;
}
.flex-n h2 {
  font-size: 18px;
  font-weight: 500;
  color: #DD9933;
  font-weight: 600;
}
@media only screen and (min-width: 992px) {
  .flex-n {
    justify-content: center;
    gap: 16px;
    flex-direction: row;
    align-items: center;
  }
}

.invest {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}
.invest-item img {
  width: 48px;
  object-fit: cover;
}
.invest-item p {
  color: #000;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .invest {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  .invest {
    grid-template-columns: auto auto auto auto;
  }
  .invest-item img {
    width: 48px;
    object-fit: cover;
  }
}

.project-text {
  color: #111;
  font-weight: 400;
}
.project-text span {
  font-weight: 600;
  font-size: 14px;
}
.project .btn-flex {
  display: block;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.project .btn-flex a {
  width: 100%;
  margin-bottom: 16px;
}
@media only screen and (min-width: 992px) {
  .project .btn-flex {
    display: flex;
  }
  .project .btn-flex a {
    width: 270px;
    margin-bottom: 0;
  }
}

.contact-content {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.contact-item-text {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  gap: 13px;
}
.contact-item-text img {
  width: 17px;
}
.contact-item-text a {
  color: #fff;
}
.contact-item-text a img {
  margin-right: 13px;
  width: 17px;
}

.policy {
  border: 2px solid #FF002E;
  width: 100%;
  height: 100%;
  border-style: dashed;
  padding: 22px 24px;
  background-color: #FDDCBF;
  max-width: 770px;
  margin: 0 auto;
}

.owl-carousel-custom-style-1 .owl-stage-outer {
  padding: 0;
}
.owl-carousel-custom-style-1 .owl-dots {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-1 .owl-dots {
    bottom: 40px;
  }
}
.owl-carousel-custom-style-1 .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 4px;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-1 .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
}
.owl-carousel-custom-style-1 .owl-dots .owl-dot:hover, .owl-carousel-custom-style-1 .owl-dots .owl-dot.active {
  background-color: #fff;
}
.owl-carousel-custom-style-1 .owl-nav .owl-prev, .owl-carousel-custom-style-1 .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  background-color: #B47C19;
  transform: rotate(-135deg) !important;
  border: none;
  text-align: center;
  list-style: 48px;
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-1 .owl-nav .owl-prev, .owl-carousel-custom-style-1 .owl-nav .owl-next {
    width: 48px;
    height: 48px;
  }
}
.owl-carousel-custom-style-1 .owl-nav .owl-prev::before, .owl-carousel-custom-style-1 .owl-nav .owl-next::before {
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(135deg) !important;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 4%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-1 .owl-nav .owl-prev::before, .owl-carousel-custom-style-1 .owl-nav .owl-next::before {
    width: 48px;
    height: 48px;
  }
}
.owl-carousel-custom-style-1 .owl-nav .owl-prev:hover, .owl-carousel-custom-style-1 .owl-nav .owl-next:hover {
  background-color: #fff;
}
.owl-carousel-custom-style-1 .owl-nav .owl-prev {
  left: 8%;
  top: 22%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-1 .owl-nav .owl-prev {
    left: 5%;
    top: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .owl-carousel-custom-style-1 .owl-nav .owl-prev {
    left: 12%;
    top: 30%;
  }
}
.owl-carousel-custom-style-1 .owl-nav .owl-prev::before {
  background-image: url(../images/meeypage/btn-prev-o.svg);
}
.owl-carousel-custom-style-1 .owl-nav .owl-prev:hover::before {
  background-image: url(../images/meeypage/btn-prev.svg);
}
.owl-carousel-custom-style-1 .owl-nav .owl-next {
  right: 8%;
  top: 22%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-1 .owl-nav .owl-next {
    right: 5%;
    top: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .owl-carousel-custom-style-1 .owl-nav .owl-next {
    right: 12%;
    top: 30%;
  }
}
.owl-carousel-custom-style-1 .owl-nav .owl-next::before {
  background-image: url(../images/meeypage/btn-next-o.svg);
}
.owl-carousel-custom-style-1 .owl-nav .owl-next:hover::before {
  background-image: url(../images/meeypage/btn-next.svg);
}

.owl-carousel-custom-style-2 .owl-stage-outer {
  padding: 0;
}
.owl-carousel-custom-style-2 .owl-dots {
  position: absolute;
  bottom: 12px;
  left: 0;
  bottom: 30px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-2 .owl-dots {
    bottom: 40px;
  }
}
.owl-carousel-custom-style-2 .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 4px;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-2 .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
}
.owl-carousel-custom-style-2 .owl-dots .owl-dot:hover, .owl-carousel-custom-style-2 .owl-dots .owl-dot.active {
  background-color: #fff;
}
.owl-carousel-custom-style-2 .owl-nav .owl-prev, .owl-carousel-custom-style-2 .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  background-color: #04519D;
  transform: rotate(-135deg) !important;
  border: none;
  text-align: center;
  list-style: 48px;
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-2 .owl-nav .owl-prev, .owl-carousel-custom-style-2 .owl-nav .owl-next {
    width: 48px;
    height: 48px;
  }
}
.owl-carousel-custom-style-2 .owl-nav .owl-prev::before, .owl-carousel-custom-style-2 .owl-nav .owl-next::before {
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(135deg) !important;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 4%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-2 .owl-nav .owl-prev::before, .owl-carousel-custom-style-2 .owl-nav .owl-next::before {
    width: 48px;
    height: 48px;
  }
}
.owl-carousel-custom-style-2 .owl-nav .owl-prev:hover, .owl-carousel-custom-style-2 .owl-nav .owl-next:hover {
  background-color: #fff;
}
.owl-carousel-custom-style-2 .owl-nav .owl-prev {
  left: 30px;
  top: 110px;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-2 .owl-nav .owl-prev {
    left: 30px;
    top: 100px;
  }
}
@media only screen and (min-width: 992px) {
  .owl-carousel-custom-style-2 .owl-nav .owl-prev {
    left: 50px;
    top: 190px;
  }
}
.owl-carousel-custom-style-2 .owl-nav .owl-prev::before {
  background-image: url(../images/meeypage/btn-prev-o.svg);
}
.owl-carousel-custom-style-2 .owl-nav .owl-prev:hover::before {
  background-image: url(../images/landing45/btn-prev.svg);
}
.owl-carousel-custom-style-2 .owl-nav .owl-next {
  right: 30px;
  top: 110px;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-2 .owl-nav .owl-next {
    right: 30px;
    top: 100px;
  }
}
@media only screen and (min-width: 992px) {
  .owl-carousel-custom-style-2 .owl-nav .owl-next {
    right: 50px;
    top: 190px;
  }
}
.owl-carousel-custom-style-2 .owl-nav .owl-next::before {
  background-image: url(../images/meeypage/btn-next-o.svg);
}
.owl-carousel-custom-style-2 .owl-nav .owl-next:hover::before {
  background-image: url(../images/landing45/btn-next.svg);
}

.owl-carousel-custom-style-3 .owl-stage-outer {
  padding: 0;
}
.owl-carousel-custom-style-3 .owl-dots {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-3 .owl-dots {
    bottom: -40px;
  }
}
.owl-carousel-custom-style-3 .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  border: none;
  background-color: rgba(26, 87, 108, 0.4);
  margin: 0 4px;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-3 .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
}
.owl-carousel-custom-style-3 .owl-dots .owl-dot:hover, .owl-carousel-custom-style-3 .owl-dots .owl-dot.active {
  background-color: #1A576C;
}
.owl-carousel-custom-style-3 .owl-nav .owl-prev, .owl-carousel-custom-style-3 .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  background-color: #1A576C;
  transform: rotate(-135deg) !important;
  border: none;
  text-align: center;
  list-style: 48px;
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-3 .owl-nav .owl-prev, .owl-carousel-custom-style-3 .owl-nav .owl-next {
    width: 48px;
    height: 48px;
  }
}
.owl-carousel-custom-style-3 .owl-nav .owl-prev::before, .owl-carousel-custom-style-3 .owl-nav .owl-next::before {
  content: "";
  width: 40px;
  height: 40px;
  transform: rotate(135deg) !important;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 4%;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-3 .owl-nav .owl-prev::before, .owl-carousel-custom-style-3 .owl-nav .owl-next::before {
    width: 48px;
    height: 48px;
  }
}
.owl-carousel-custom-style-3 .owl-nav .owl-prev:hover, .owl-carousel-custom-style-3 .owl-nav .owl-next:hover {
  background-color: #fff;
}
.owl-carousel-custom-style-3 .owl-nav .owl-prev {
  left: 30px;
  top: 80px;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-3 .owl-nav .owl-prev {
    left: 30px;
    top: 80px;
  }
}
@media only screen and (min-width: 992px) {
  .owl-carousel-custom-style-3 .owl-nav .owl-prev {
    left: -24px;
    top: 80px;
  }
}
.owl-carousel-custom-style-3 .owl-nav .owl-prev::before {
  background-image: url(../images/meeypage/btn-prev-o.svg);
}
.owl-carousel-custom-style-3 .owl-nav .owl-prev:hover::before {
  background-image: url(../images/landing46/btn-prev.svg);
}
.owl-carousel-custom-style-3 .owl-nav .owl-next {
  right: 30px;
  top: 80px;
}
@media only screen and (min-width: 768px) {
  .owl-carousel-custom-style-3 .owl-nav .owl-next {
    right: 30px;
    top: 80px;
  }
}
@media only screen and (min-width: 992px) {
  .owl-carousel-custom-style-3 .owl-nav .owl-next {
    right: -24px;
    top: 80px;
  }
}
.owl-carousel-custom-style-3 .owl-nav .owl-next::before {
  background-image: url(../images/meeypage/btn-next-o.svg);
}
.owl-carousel-custom-style-3 .owl-nav .owl-next:hover::before {
  background-image: url(../images/landing46/btn-next.svg);
}

.owl-carousel .owl-item img {
  height: 100vh;
  object-fit: cover;
}

.owl-carousel .owl-item .h-img {
  height: 354px;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .owl-carousel .owl-item .h-img {
    height: 500px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 992px) {
  .owl-carousel .owl-item .h-img {
    height: 100vh;
    object-fit: cover;
  }
}

.owl-carousel .owl-item .img-project {
  height: 270px;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .owl-carousel .owl-item .img-project {
    height: 436px;
  }
}

/*# sourceMappingURL=custom46.css.map */
